



/*---------------------------------------------- 
            S O C I A L - M E D I A 2
------------------------------------------------*/

.social-home-2 {
    position: fixed;/* Hacemos que la posici?n en pantalla sea fija para que siempre se muestre en pantalla*/
    /* vertical-align: baseline; */
	right: 0px; /* Establecemos la barra en la izquierda */
    top: 65px;
    cursor: pointer;
    /* bottom: 0px; */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga alg?n otro elemento como sliders, galer?as, etc */
}
	.social-home-2 img {
        border-radius: 20px 0 0 4px;
        border-right: 4px solid #1b1616;
        width: 180px;
		color:rgba(15, 15, 15, 0);
		background:rgba(236, 239, 243, 0);
        padding: 10px 15px;
        box-shadow: 0 0px 10px 0px rgba(155, 155, 155, 0.897);
		transition:all 500ms ease; /* Establecemos una transicion a todas las propiedades */
	}
.social-2 {
    position: fixed;/* Hacemos que la posici?n en pantalla sea fija para que siempre se muestre en pantalla*/
    /* vertical-align: baseline; */
	right: 0px; /* Establecemos la barra en la izquierda */
    top: 120px;
    display: none;
    cursor: pointer;
    /* bottom: 0px; */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga alg?n otro elemento como sliders, galer?as, etc */
}
 
.social-2 div {
    border-radius: 20px 0 0 4px;
    border-right: 4px solid #ecda72;
    width: 2px;
    height: 50px;
    background: rgb(51, 51, 51);
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 15px;
    /* box-shadow: 0 0px 20px 0px rgba(41, 41, 41, 0.795); */
    transition:all 500ms ease; /* Establecemos una transici?n a todas las propiedades */
}
.grisimg{
    filter: grayscale(100%);
}

/*---------------------------------------------- 
        E N D - S O C I A L - M E D I A
------------------------------------------------*/
/*---------------------------------------------- 
            S O C I A L - M E D I A
------------------------------------------------*/

.social-home {
    position: fixed;/* Hacemos que la posici?n en pantalla sea fija para que siempre se muestre en pantalla*/
    /* vertical-align: baseline; */
	right: 0px; /* Establecemos la barra en la izquierda */
    top: 65px;
    cursor: pointer;
    /* bottom: 0px; */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga alg?n otro elemento como sliders, galer?as, etc */
}
	.social-home img {
        border-radius: 20px 0 0 4px;
        border-right: 4px solid #ae181f;
        width: 150px;
		color:#0000;
		background:rgb(14, 15, 15);
        padding: 10px 15px;
        box-shadow: 0 0px 10px 0px rgba(5, 5, 5, 0.897);
		transition:all 500ms ease; /* Establecemos una transicion a todas las propiedades */
	}
.social {
    position: fixed;/* Hacemos que la posici?n en pantalla sea fija para que siempre se muestre en pantalla*/
    /* vertical-align: baseline; */
	right: 0px; /* Establecemos la barra en la izquierda */
    top: 120px;
    display: none;
    cursor: pointer;
    /* bottom: 0px; */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga alg?n otro elemento como sliders, galer?as, etc */
}
 
.social div {
    border-radius: 20px 0 0 4px;
    border-right: 4px solid #ecda72;
    width: 180px;
    height: 50px;
    background: rgb(51, 51, 51);
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 15px;
    /* box-shadow: 0 0px 20px 0px rgba(41, 41, 41, 0.795); */
    transition:all 500ms ease; /* Establecemos una transici?n a todas las propiedades */
}
.grisimg{
    filter: grayscale(100%);
}

/*---------------------------------------------- 
        E N D - S O C I A L - M E D I A
------------------------------------------------*/