.css_u_id_us_det_label {text-align: right;vertical-align: middle;}
.css_u_id_us_det_line {height:0px;text-align: right;}
.css_u_nom1_det_label {text-align: right;vertical-align: middle;}
.css_u_nom1_det_line {height:0px;text-align: right;}
.css_u_ape1_det_label {text-align: right;vertical-align: middle;}
.css_u_ape1_det_line {height:0px;text-align: right;}
.css_p_nom_prod_det_label {text-align: right;vertical-align: middle;}
.css_p_nom_prod_det_line {height:0px;text-align: right;}
.css_f_fecha_det_label {text-align: right;vertical-align: middle;}
.css_f_fecha_det_line {height:0px;text-align: right;}
.css_tp_nom_tipo_pago_det_label {text-align: right;vertical-align: middle;}
.css_tp_nom_tipo_pago_det_line {height:0px;text-align: right;}
.css_f_total_det_label {text-align: right;vertical-align: middle;}
.css_f_total_det_line {height:0px;text-align: right;}
