.css_u_id_us_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_u_id_us_grid_line {vertical-align: top;text-align: left;}
.css_u_nom1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_u_nom1_grid_line {vertical-align: top;text-align: left;}
.css_u_ape1_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_u_ape1_grid_line {vertical-align: top;text-align: left;}
.css_p_nom_prod_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_p_nom_prod_grid_line {vertical-align: top;text-align: left;}
.css_f_fecha_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_f_fecha_grid_line {vertical-align: top;text-align: center;}
.css_tp_nom_tipo_pago_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tp_nom_tipo_pago_grid_line {vertical-align: top;text-align: left;}
.css_f_total_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_f_total_grid_line {vertical-align: top;text-align: right;}
